{% extends 'manager/base.html' %}

{% block maincontent %}
    <h2 style="width: 90%; margin: auto;">Completed requests</h2>
    <div id="messages-div">
        {% for message in messages %}
            <span>{{ message }}</span>
        {% endfor %}
    </div>
    <form action="{% url 'manager:request-move-stage' %}" id="next-stage-form" method="POST">
        {% csrf_token %}
        <table id="request-table" >
            {% if request_list %}
            <br>
            <tr>
                <th style="width: 2%;">ID</th>
                <th style="width: 20%;">Device</th>
                <th style="width: 25%;">Description</th>
                <th>Customer</th>
            <th style="width: 20%;">Created</th>
            <th>Completed</th>
        </tr>
        {% for request in request_list %}
        <tr id="row-request-{{request.id}}">
            
            <td><a href="{% url 'manager:request-info' pk=request.id %}">{{request.id}}</a></td>
            <td>{{ request.device.manufacturer }} {{ request.device.model }} {{ request.device.serial_number }}</td>
            <td>{{ request.description }}</td>
            <td><span>{{ request.device.owner.email }}</span></td>
            <td>{{ request.created }}</td>
            {% with request.actions|last as last_action %}
            {{ last_action.key }}
            <td>{{ last_action.timestamp }}</td>
            {% endwith %}
        </tr>
        {% endfor %}
    </table>
    <br>
    {% else %}
        </table>
        <p style="width: 90%; margin: auto;">No requests.</p>
{% endif %}
</form>
</div>
{% endblock %}
