<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Console</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/manager/bootstrap-min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/manager/styles.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/manager/base.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ec8c11;">
        <a class="navbar-brand ml-5 p-3 text-light" href="{% url 'manager:home-page' %}">Manager Dashboard</a>
        <a class="navbar-brand ml-5 p-3 text-light" href="{% url 'manager:requests-completed' %}">Archive</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto text-center mr-5">
                <li class="nav-item dropdown mr-5">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{email}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'manager:update-password' %}">Update Password</a>
                        <a class="dropdown-item" href="{% url 'manager:logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main id="main-element">
        {% block maincontent %}
        {% endblock %}
    </main>
</body>
<script type="text/javascript" src="{% static 'js/manager/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="{% static 'js/manager/popper-min.js' %}"></script>
<script src="{% static 'js/manager/bootstrap-min.js' %}"></script>
</html>
