{% extends 'manager/base.html' %}

{% block maincontent %}
    <h2 style="width: 90%; margin: auto;">Pending requests</h2>
    <div id="messages-div">
        {% for message in messages %}
            <span>{{ message }}</span>
        {% endfor %}
    </div>
    {% include 'manager/request_list.html' %}
{% endblock %}