<form action="{% url 'manager:request-move-stage' %}" id="next-stage-form" method="POST">
    {% csrf_token %}
    <table id="request-table" >
        {% if request_list %}
        <br>
        <tr>
            <th></th>
            <th style="width: 2%;">ID</th>
            <th style="width: 20%;">Device</th>
            <th style="width: 25%;">Description</th>
            <th style="width: 20%;">Created</th>
            <th>Customer</th>
            <th>Current stage</th>
        </tr>
        {% for request in request_list %}
            <tr id="row-request-{{request.id}}">
                <td><input class="request-radio-button" type="radio" id="request-{{request.id}}" name="request-choice" value="{{request.id}}"></td>

                <td><a href="{% url 'manager:request-info' pk=request.id %}">{{request.id}}</a></td>
                <td>{{ request.device.manufacturer }} {{ request.device.model }} {{ request.device.serial_number }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.created }}</td>
                <td><span>{{ request.device.owner.email }}</span></td>
                <td>{{ request.stage.name }}<span id="stage-info-{{request.id}}" style="width: 0;height: 0;visibility: hidden;">{{request.stage.id}}</span></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div id="action-description-div">
        <label for="action-description-input">Remarks</label>
        <textarea id="action-description-input" name="stage_status" maxlength="1000" rows="3" cols="50" required></textarea>
        <input id="stage-input" style="display: none;" type="text" name="to-stage">
    </div>
    <br>
    <br>
    <div style="width: 90%; margin: auto;">
        <button type="button" onclick="editCurrentStageStatus()" >Edit current stage status</button>
        <button type="button" onclick="moveNextStage()" >Move to next stage</button>
    </div>
    {% else %}
        </table>
        <p style="width: 90%; margin: auto;">No requests pending.</p>
    {% endif %}
</form>
</div>
