{% extends 'manager/base.html' %}

{% block maincontent %}
{% load static %}
<div id="messages-div">
    {% for message in messages %}
        <span>{{ message }}</span>
    {% endfor %}
</div>
<h1 style="width: 90%; margin: auto;"> Service request details</h1>
<!-- Horizontal Steppers -->
<section class="stepper-view box-shadow">
    {% include 'manager/stepper.html' %}
</section>

<table class="no-border grey-background request-detail-table">
    <tr class="no-border flex-column">
        <td class="no-border "><h3>Request Number</h3></td>
        <td class="no-border ">{{request.id}}</td>
    </tr>
    <tr class="no-border flex-column">
        <td class="no-border ">
            <h2 class="no-border ">Device details</h2>
            <p><span class="property-name-span">Type: </span><span>{{request.device.type_of_device.name}}</span></p>
            <p><span class="property-name-span">Manufacturer: </span><span>{{request.device.manufacturer}}</span></p>
            <p><span class="property-name-span">Model: </span><span>{{request.device.model}}</span></p>
            <p><span class="property-name-span">S/No: </span><span>{{request.device.serial_number}}</span></p>
        </td>
    </tr>
    <tr class="no-border flex-column">
        <td class="no-border">
            <h2>Customer details</h2>
            <p class="no-border "><span class="property-name-span">Email: </span><span>{{request.device.owner.email}}</span></p>
        </td>
    </tr>
    <tr class="no-border flex-column">
        <td class="no-border">
            <h2>Description</h2>
            <p class="no-border ">{{request.description}}</p>
        </td>
    </tr>
    <tr class="no-border flex-column">
        <td class="no-border">
            <h2>Status</h2>
            <p class="no-border ">
                Current stage:
                {{request.stage.name}}
            </p>
            <p class="no-border ">{% if request.stage.id != 1 %}Current stage status: {% for d in request.actions %}{% if forloop.last %} {{ d.stage_status }} {% endif %} {% endfor %}{% endif %}</p>
        </td>
    </tr>
</table>
<br>
<form id="next-stage-form-detail" action="{% url 'manager:request-move-stage' %}" method="POST">
    {% csrf_token %}
    <input style="display: none;" name="request-choice" value="{{request.id}}" type="text">
    <input style="display: none;" id="stage-input" name="to-stage" value="{{request.stage.id}}" type="text">
    <label for="description-input">Remarks</label>
    <div>
        <textarea id="description-input" name="stage_status" type="textarea" rows="4" cols="50"></textarea>
        <br>
        <button type="button" onclick="editCurrentStageStatusDetail()" style="margin: auto;">Update current stage status</button>
        <button type="button" onclick="moveNextStageDetail()" style="margin: auto;">Move to next stage</button>
    </div>
</form>



{% endblock %}