{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/manager/stepper.css' %}"></link>
<div class="container flex-row">
    <ul class="progressbar">
        {% widthratio 100 stages|length 1 as line_width %}
        {% for stage in stages %}
            <li class="{% if request.stage.id > stage.id %} active {% elif request.stage.id == stage.id %} in-progress {% endif %}" style="width: {{line_width|add:'-1'}}%;">{{stage.name}}</li>
        {% endfor %}
    </ul>
</div>
