
{% extends 'manager/base.html' %}
{% block maincontent %}
<div class="container mt-5">
<form method="post">
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
       {% csrf_token %}
    <h3 class="text-center">Update Password</h3>
       <p class="text-center text-danger">{{error_msg}}</p>
    <div class="form-group">
        <label for="current_password">Current Password</label>
        <input type="password" class="form-control" id="current_password" placeholder="Enter current password"name="password1" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" class="form-control" id="new_password" placeholder="Enter New password"name="password2" autocomplete="off">
    </div>
     <button type="submit" class="btn btn-primary">Update</button>
   </form>
</div>
{% endblock %}