{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea enim explicabo facilis ipsa natus necessitatibus porro, repudiandae sit unde veritatis.</p>
</div>
{% endblock %}