{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-5">
   <form action="login"method="post">
       {% csrf_token %}
       <p class="text-center text-danger">{{error_msg}}</p>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Email here..." name="email" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password here..."name="password">
    </div>
     <button type="submit" class="btn btn-primary">Sign In</button>
   </form>
</div>
{% endblock %}