{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-5">
    <span>If you are a manager, please sign up with your official email address.</span>
   <form action="signup" method="post">
       {% csrf_token %}
       <p class="text-center text-danger">{{error_msg}}</p>
     <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="Enter First Name"name="first_name" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name here..." name="last_name" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="email">Email Id</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Email here..." name="email" autocomplete="off">
    </div>
     <div class="form-group">
        <label for="phno">Phone Number</label>
        <input type="text" class="form-control" id="phno" placeholder="Enter Phone Number here..." name="phno">
    </div>
        <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Enter Password here..." name="password1">
    </div>
        <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" placeholder="Enter Password again here..." name="password2">
    </div>
     <button type="submit" class="btn btn-primary">Sign Up</button>
   </form>
</div>
{% endblock %}