.myList{
    position:absolute;
    right:280px;
    top:60px;
    border-radius:8px;
    z-index:1;
    background-color:white;
    border: 1px solid black;
    width:150px;
    text-align:center;
}

.item{
    border-bottom: 1px solid black;
    padding-top:6px;
    padding-bottom:6px;
}
.itemLast{
    padding-top:6px;
    padding-bottom:6px;
}

.center-horiz{
    justify-content:center;
    align-items:center;
    text-align:center;
    background-color:gray;
    width:100%;

}
.box{
display:flex;
flex-direction:row;
mergin-top:30px;
margin-bottom:20px;
justify-content:space-evenly;
}

.stage{
margin-right:30px;
justify-content:center;
align-items:center;
text-align:center;
height:80px;
padding-top:25px;
width:200px;
border-radius:50px;
background-color:#c1e6f5;
}
.promise{
background-color:#f3f3f5;
width:100%;
height:550px;
}
.promise>div img{
border-radius:50%;
}
footer{
    background-color: #425066;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 10px;

}

footer small{
    color: #33bef5;
}