{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
         window.onload= async()=>{
           const response = await fetch(window.location.origin + '/user_api/services');
           const myJson = await response.json();
           console.log(myJson)

           const myNode=document.getElementById('types-services');
           myJson.forEach(function(element){
           const myOption=document.createElement("option");
           myOption.text = element.name;
           myOption.value=element.id;
           myNode.appendChild(myOption);
           });

    }
    </script>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ec8c11;">
  <a class="navbar-brand ml-5 p-3 text-light" href="dashboard">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto text-center mr-5">
      <li class="nav-item">
        <a class="nav-link text-light" href="service-request">Raise Service Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="request-status">Track Service Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="register-device">Register Device</a>
      </li>
      <li class="nav-item dropdown mr-5">
           <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{ request.session.email }}
           </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="devices">Registered Devices</a>
              <a class="dropdown-item" href="requested-services">Service Requests</a>
              <a class="dropdown-item" href="update-password">Update Password</a>
              <a class="dropdown-item" href="logout">Logout</a>
          </div>
      </li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>