{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static '/img/caro1.jpg'%}" height="600px" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '/img/caro2.jpg'%}" height="600px"alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '/img/caro3.jpeg'%}" height="600px"alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="{% static '/img/caro4.jpg'%}" height="600px"alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<h1 class="text-center">Our Processing Stages</h1>
  <div class="box">
    <div class="stage">Registration</div>
    <div class="stage">Initial Inspection</div>
    <div class="stage">Troubleshooting</div>
  </div>
<div class="box">
    <div class="stage">Repair/Replacement</div>
    <div class="stage">Quality Checks</div>
    <div class="stage">Troubleshooting</div>
</div>
<div class="promise">
  <h1 class="text-center">Our Service Promises</h1>
   <div class="box">
    <div>
      <img src="{% static '/img/promise1.png'%}">
      <h3>No Questions Asked</h3>
    </div>
    <div>
        <img src="{% static '/img/promise2.jpeg'%}">
      <h3>High Quality Repairs</h3>
    </div>
    <div>
        <img src="{% static '/img/promise3.jpeg'%}">
      <h3>Zero Paperwork</h3>
    </div>
  </div>
<div class="box">
  <div>
      <img src="{% static '/img/promise4.png'%}">
    <h3>Repair or Replacement Guarantee</h3>
  </div>
    <div>
        <img src="{% static '/img/promise5.jpeg'%}">
      <h3>Free Pick & Drop</h3>
    </div>
    <div>
        <img src="{% static '/img/promise6.jpeg'%}">
      <h3>At-Home Service</h3>
    </div>

</div>
</div>
<footer>
    <h5>Copyright &copy; 2020  <a href="https://www.mountblue.io/" target="_blank" >Mountblue Developer</a></h5>
    <p>All Rights Reserved</p>
    <small>Developed & Maintained by Harith & Yadav Gaurav</small><br><br>
</footer>
{% endblock %}