{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
   <form  method="post">
       {% csrf_token %}
       <p class="text-center text-danger">{{error_msg}}</p>
     <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer" placeholder="Enter Manufacturer Name"name="manufacturer" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="model">Model Name</label>
        <input type="text" class="form-control" id="model" placeholder="Enter Model Name here..." name="model" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="serial_number">Serial Number</label>
        <input type="text" class="form-control" id="serial_number" placeholder="Enter Serial Number here..." name="serial_number" autocomplete="off">
    </div>
     <div class="form-group">
        <label for="types-services">Select Device</label>
        <select id="types-services" name="type_of_device" class="form-control">
          <option value="">Select Device</option>
        </select>
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
{% endblock %}