{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
<div class="card">
    <div class="card-header text-center font-weight-bold">Requested Services</div>
        {% for device_detail in devices %}
        <div class="card-footer">
            {% for key,value in device_detail.items %}
             <div class="row">
                <div class="col-6"><p class="font-weight-bold">{{ key}}</p></div>
                <div class="col-4"><p class="font-weight-bold text-primary">{{value}}</p></div>
             </div>
            {% endfor %}
         </div>
        {% endfor %}
    </div>
</div>
{% endblock %}