{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    data={{ device_list|safe }}

     window.onload= async()=>{
           const select_list=document.getElementById('device');
           data.forEach(function(element){
           const myOption=document.createElement("option");
           myOption.text = element.model_and_serial_number;
           myOption.value=element.id;
           select_list.appendChild(myOption);
           });
           }
           function report(id){
           const select_request=document.getElementById('request');
            data.forEach(function(element){
            if(element.id==id){
            element.request_list.forEach(function(request_data){
            console.log()
           const myOption=document.createElement("option");
           myOption.text = request_data.description;
           myOption.value=request_data.id;
           select_request.appendChild(myOption);
            })
            }
           });
           }
 </script>
<div class="container mt-5">
   <form method="post">
       {% csrf_token %}
       <p class="text-center text-danger">{{error_msg}}</p>
    <div class="form-group">
        <label for="device" class="pr-4">Device Type</label>
        <select id='device'  class="form-control" name="device" onchange="report(this.value)">
          <option value="">Select Device</option>
        </select>
    </div>
    <div class="form-group">
        <label for="request" class="pr-1">Service Request</label>
        <select id='request' name="request"  class="form-control">
          <option value="" >Select Service Request</option>
        </select>
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
{% endblock %}