{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    data={{ device_list|safe }}
     window.onload= async()=>{
           const select_list=document.getElementById('device');
           data.forEach(function(element){
           const myOption=document.createElement("option");
           myOption.text = element.model_and_serial_number;
           myOption.value=element.id;
           select_list.appendChild(myOption);
           });
           }
 </script>
<div class="container mt-5">
   <form method="post">
       {% csrf_token %}
       <p class="text-center text-danger">{{error_msg}}</p>
    <div class="form-group">
        <label for="device" class="pr-3">Device Type</label>
        <select id='device' name="device" class="form-control">
          <option value="" >Select Device</option>
        </select>
    </div>
    <div class="form-group">
        <label for="descriptions">Descriptions</label>
        <input type="text" class="form-control" id="descriptions" placeholder="Enter device descriptions here..."name="descriptions" autocomplete="off">
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
{% endblock %}