{% extends 'user_dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
<div class="card">
    <div class="card-header text-center font-weight-bold">Service Request Status</div>
    <div class="card-footer">
        {% for key,value in request_status.items %}
        <div class="row">
            <div class="col-6"><p class="font-weight-bold">{{ key}}</p></div>
            <div class="col-4"><p class="font-weight-bold text-primary">{{value}}</p></div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}