* {
    font-family: Arial, Helvetica, sans-serif;
}

#logout-button {
    background:none!important;
    border:none; 
    padding:0!important;
    text-decoration: underline;
    /*border is optional*/
}
#logout-button:hover {
    color: blue!important;
    cursor: pointer!important;
}

.link-like-button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#action-description-div {
    /* border: 1px solid black; */
}

#action-description-div > * {
    /* border: 1px solid black; */
}

#action-description-div {
    /* border: 1px solid black; */
    display: none;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#page-control-links {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.page-control {
    margin: 1vh;
}

/* table, tr, th, td {
    font-size: 2vh;
    border: 1px solid black;
    border-collapse: collapse;
} */


.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

/* .no-border {
border: none;
} */

/* * {
    border: 1px solid black;
    padding-left: 0%;
} */

.stepper-list {
    min-height: 70px;

}

.grey-background {
    background-color: lightgrey;
}
.green-color {
    background-color: green;
}
.lightgrey-color {
    background-color: lightgrey;
}

.circle {
    border-radius: 50%;
    margin: auto ;
    width: 1vw;
    height: 1vw;
    /* position: relative;
    bottom: 0.5vw;
    right: 0.5vw; */
}
.circle:hover {
    width: 2vw;
    height: 2vw;
    /* bottom: 1vw;
    right: 1vw; */
}

.width-15-percent{
    width: 15%;
}

.text-center-align {
    text-align: center;
}
.justify-flex-end {
    justify-content: flex-end;
}
.justify-flex-end > * {
    margin: 1vw;
}

.justify-center {
    justify-content: center;
}

.stepper-node {
    margin: 1vw;
    padding-top: 0;
    padding-left: 0;
}


.request-detail-table {
    padding-left: 2vw;
    width: 90%;
    margin: auto;
}
.box-shadow {
    box-shadow: 1vh 1vh 5% 5% red;
}

#new-request-form {
    margin: auto;
}

#customer-edit-form {
    visibility: hidden;
    width: 50%;
}

.align-items-center {
    align-items: center;
}

#customer-details-table-button {
    width: 50%;
}
.justify-space-evenly {
    justify-content: space-evenly;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: ce.justify-center;
}
.width-half {
    width: 50%;
}
.width-full {
    width: 100%;
}

.small-text {
    font-size: 1vw;
}
.red-text {
    color: red;
}
.register-field > * {
    margin: 0vh 1vw;
}
.register-error-span {
    width: 30%;
}
.register-form-label {
    min-width: 20%;
    text-align: end;
}

#register-form-submit {
    position: relative;
    right: 7%;
}
#registration-form {
    background-color: lightgreen;
}


#request-table {
    width: 90%;
    margin: auto;
}

#next-stage-form-detail {
    padding: 1vw;
    width: 90%;
    margin: auto;
    background-color: lightgray;
    margin-bottom: 2vh;
}

#next-stage-form-detail > div > button:hover {
    background-color: white;
    color: black;
}

#messages-div {
    width: 90%;
    margin: auto;
}

