.container {
    width:100%;
    margin-top: 100px;
    }
    .progressbar {
    counter-reset: step;
    width: 100%;
    flex-wrap: nowrap;
    }
    .progressbar li{
    list-style-type: none;
    float: left;
    position:relative;
    text-align: center;
    font-weight: 400;
    }
    .progressbar li:before {
    /* CSS for creating steper block before the li item*/
    content:counter(step);
    counter-increment: step;
    height:30px;
    width:30px;
    line-height: 30px;
    border: 2px solid #ddd;
    display:block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    }
    .progressbar li:after {
    /* CSS for creating horizontal line*/
    content:'';
    position: absolute;
    width:100%;
    height:2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
    }
    .progressbar li:first-child:after {
    content:none;
    }
    .progressbar li.active {
    color:#27ae60;
    }
    .progressbar li.active:before {
    border-color:#27ae60;
    }
    .progressbar li.active + li:after{
    background-color:#27ae60;
    }

    .progressbar li.in-progress:before {
        border-color:orange;
        }
    .progressbar li.in-progress + li:after {
        background-color: lightgray;
    }