.myList{
    position:absolute;
    right:280px;
    top:60px;
    border-radius:8px;
    z-index:1;
    background-color:white;
    border: 1px solid black;
    width:150px;
    text-align:center;
}

.item{
    border-bottom: 1px solid black;
    padding-top:6px;
    padding-bottom:6px;
}
.itemLast{
    padding-top:6px;
    padding-bottom:6px;
}